.home {
  .home__image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../Images/hero.jpg");
    min-height: 85vh;
    background-position: center;
    background-size: cover;
  }
  .home__centerhero {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home__mainheading {
    color: #fff;
    font-size: 50px;
  }
  .home__maincta {
    padding: 10px 20px;
    background-color: rgb(235, 152, 0);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px !important;
  }
  // section styles
  .ourservices {
    padding: 100px 0px 20px;
    min-height: 80vh;
    h1 {
      font-size: 50px;
      font-weight: bold;
    }
    .imgsetting {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
    .services-parag {
      margin-top: 20px;
      font-weight: 300;
      font-size: 20px;
    }
    .fa-globe {
      margin-top: 25px;
    }
    .fa-trophy {
      margin-top: 25px;
    }
    .fa-laptop {
      margin: 25px;
    }
  }

  .row-setting {
    margin: 120px 0 !important;
    p {
      color: #6c757d !important;
      padding: 10px;
    }
  }
  // Slim Banner
  .home__slimbanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../Images/slimbanner.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  .home__slimbannercenter {
    text-align: center;
    padding-top: 75px;
    color: #fff;
  }
  .home__slimcta {
    padding: 10px 20px;
    background-color: rgb(235, 152, 0);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px !important;
  }
  @media screen and (max-width: 800px) {
    .home__mainheading {
      font-size: 36px;
    }
    .home__subheader {
      font-size: 15px;
    }
  }
}
