.dashboard {
  &__main {
    text-align: center;
    margin-top: 5rem;
    font-weight: lighter;
  }
  .header {
    display: inline-block;
    margin: 10px 0;
    padding: 15px 20px;
    font-weight: bold;
    color: #000;
    font-size: 40px;
  }
  .graphs {
    margin-top: 5rem;
  }
  .pie__chart {
    margin-top: 7rem;
    min-height: 300px;
    justify-content: center;
    text-align: center;
  }
}
